.navbar{
    height: 4em;
    background:rgb(65, 64, 64);
}

.logo{
    height: 4em;
    width: 4em;
    margin-left: 5em;
}

.left{
    margin-left: 5em;
    color: white;
}

.mid{
    margin-left: 18em;
}

.mid_opt{
    margin-left: 5em;
    color: white;
    font-size: large;
}